@use '../mixins';
@use '../media';

.footer {
    background-color: var(--color-gray);
    color: #C3C3C3;
    padding: 30px 0;
    font-size: 13px;

    &__line {
        width: 1px;
        height: 18px;
        border-left: 1px solid #C3C3C3;

        @include media.tablet {
            border-bottom: 1px solid #C3C3C3;
            width: 18px;
            height: 1px;

            border-left: none;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 40px;

        @include media.tablet {
            flex-direction: column-reverse;
            gap: 20px;
        }
    }

    &__payments {
            display: flex;
            gap: 38px;

            @include media.mobile {
                gap: 18px;
            }

        .payments {
            &-link {
                display: flex;
                gap: 10px;
            }
        }
        }

    &__socials {
        display: flex;
        gap: 38px;

        .socials {
            &-link {
            display: flex;
            gap: 10px;
        }
        }
    }

}